.behind {
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

/* .p5Canvas {
    position: fixed;
    inset: 0px;
    margin: auto;
} */

/*cursor: url(assets/cursor.png), pointer;*/